@media screen and (orientation: landscape) {
    #mainContent {
        margin-left: 10%;
        margin-right: 10%;
    }

    
    #medicineContent {
        padding-right: 10%;
        padding-left: 10%;
    }
}