:root {
  --heroContentHeightOffset: 10rem;
}
p {
    text-align: justify;
    
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

/*! Navbar Section  */
#navbar {
  /* top: 0; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
  text-align: center;
  align-items: center;
  height: 4em;
  background-image: linear-gradient(rgb(0, 73, 0), rgb(114, 138, 114));
  white-space: preserve nowrap;
}

#navbar > div > div:hover {
  font-weight: bold;
  cursor: pointer;
}

/*! Hero Carousel Section */
#heroCarousel {
  position: relative;
  width: 100%;
  aspect-ratio: 16/7;
  /* max-height: 500px; */
}

.heroContent {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease;
  background-size: 100% auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-items: last baseline; */
  /* background-color: blue; */
}

.heroContent > img {
  max-height: 100%;
  width: 100%;
}

.heroContentHeaders {
  font-size: xx-large;
  position: relative;
  bottom: var(--heroContentHeightOffset);
  z-index: 2;
  color: white;
  text-indent: 2rem;
}

.heroContentSentences {
  position: relative;
  bottom: var(--heroContentHeightOffset);
  text-indent: 2rem;
}

.heroContentBtnLines {
  /* margin-top: 1rem; */
  position: relative;
  bottom: calc(var(--heroContentHeightOffset)++10);
  bottom: var(--heroContentHeightOffset);
  margin-top: 1rem;
  text-indent: 2rem;
}

.heroContentBtnLines > button, .heroScheduleBtns {
  border-radius: 10px;
  margin-right: 1rem;
}

.heroContentBtnLines > button:hover, .heroScheduleBtns:hover {
  background-color: gray;
  color: white;
}
/*! Main Content Section */
#mainContent {
  min-height: calc(100vh - 8em);
  max-width: 100vw;
  flex: 1;
  margin-left: 10vw;
  margin-right: 10vw;
}

/*! b_section  */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 0;
}

.image-section > img {
    width: 100%;
    height: 100%;
}

.text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons > a {
  text-decoration: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.buttons > a:visited {
  color: black;
}

.btn-info {
  color: white !important;
  background-color: rgb(1, 178, 1);
}

.btn-appointment {
  color: white !important;
  background-color: blue;
}

.btn-info:hover,
.btn-appointment:hover {
  color: black !important;
}

/*! Schedule Appointment Section */
/* 
When the grid wraps, each column should be 100%
Before the grid wraps, each column should be 50%, with items centered
The grid should wrap when the input form width crosses 400px
*/
#scheduleAppointmentContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
}

#contactTextContainer {
  max-width: 80vw;
}

#contactTextContainer > p {
  text-align: justify;
}

#contactFormBody{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
      max-width: 80vw;

}


#contactFormContainer,
#contactFormContainer > form {
  border: 3px solid rgb(0, 73, 0);
}

#contactFormContainer {
  border-radius: 20px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contactFormContainer {
    width: 400px;
}

#contactMessageBody {
  height: 90px;
}

#contactFormContainer > form {
  width: 375px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
}

#contactFormContainer > form > input,
#contactMessageBody {
  width: 80%;
  align-self: center;
  border: 2px solid rgb(0, 73, 0);
  border-radius: 0.5em;
  padding: 0.5em;
}

#contactMessageBody {
  height: 50%;
  resize: none;
  /* max-height: 100%; */
}

#contactSubmitBtn,
#contactSubmitBtn:active {
  background-color: rgb(0, 73, 0);
  color: white;
}

#contactSubmitBtn:hover {
  background-color: rgb(216, 216, 216);
  cursor: pointer;
}

/*! About Section */

#aboutContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1em;
  margin-top: 1em;
}

#aboutTextSection {
  /* margin: 1em; */
  /* max-width: 46%; */
}

#aboutTextSection > p {
  text-align: justify;
}

#aboutPictureHolder {
  /* margin: 1em; */
  /* width: 46%; */
}

#aboutPictureHolder > img {
  border-radius: 1em;
  border-radius: 50%;
  border: 2px solid rgb(0, 73, 0);
  width: 46%;
  min-width: 100%;
  max-height: 60vh;
  aspect-ratio: 1/1;
}

/*! Footer Section */

footer {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  height: 3em;
  /* background-color: rgb(0, 73, 0); */
  color: white;
  bottom: 0;
  padding-top: 1em;
  background-image: linear-gradient(rgb(127, 184, 127), rgb(0, 73, 0));
}

footer > div > a:visited,
footer > div > a {
  color: white;
}

footer > div > a:hover,
footer > div > .button:hover {
  color: rgb(172, 179, 172);
}

#phoneAndEmail {
  display: flex;
  flex-direction: column;
}

a {
  color: white;
  text-decoration: none;
}
